<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title th:text="'giflib | ' + ${category.name}">Category</title>
</head>
<body>
<div class="gifs container" layout:fragment="content">
    <div class="chip" th:text="${category.name}">category name</div>
    <div class="row">
        <div th:each="gif : ${gifs}" class="col s12 l4">
            <a th:href="@{'/gif/' + ${gif.name}}">
                <img th:src="@{'/gifs/' + ${gif.name} + '.gif'}"/>
                <a href="#" th:class="(${gif.favorite}? 'un' : '') + 'mark favorite'"></a>
            </a>
        </div>
    </div>
</div>
</body>
</html>