<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title th:text="'giflib | ' + ${gif.name}">Kwejk</title>
</head>
<body>
<div class="gif-detail container" layout:fragment="content">
    <div class="frame row">
        <div class="col s12">
            <img th:src="@{'/gifs/' + ${gif.name} + '.gif'}" alt="gif"/>
            <a href="#" th:class="(${gif.favorite} ? 'un' : '') + 'mark favorite'"></a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <div class="meta row">
                <div class="col s3">
                    <img class="circle" src="http://api.adorable.io/avatars/205/avatar" alt="avatar"/>
                </div>
                <div class="col s9">
                    <h4 th:text="${gif.username}"/>
                </div>
            </div>
        </div>
        <div class="col s12 l6">
            <div class="share">
                <a class="btn right" href="#">Copy</a>
                <span th:text="'http://gif.fy/' + ${gif.name}">URL</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>